@import "../../assets/css/vars.scss";

.splash {
  margin: 20px auto;
  width: 100%;
  height: 600px;
  background: url(../../assets/tft_splash_2.jpg) 0 15% no-repeat;
  background-size: cover;
}
.title,
.subtitle {
  text-align: center;
}
.title {
  font-size: 24px;
}
.subtitle {
  color: $selected-outline-color;
  font-size: 16px;
}
