.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
  }
}

/* master */
.master {
  background: #212936;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.masterHeader {
  margin-bottom: 8px;
}
.masterHeading {
  font-size: 12px;
  margin: 0;
  padding: 8px 4px;
  text-transform: uppercase;
}
.masterGroup {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.masterList {
  margin: 0;
  padding: 0 8px 0 0;
  height: 100%;
}
.masterItem {
  list-style-type: none;
}
.navLink {
  display: block;
  margin-bottom: 2px;
  padding: 2px;
  font-size: 12px;
}
a.navLink {
  color: white;
  text-decoration: none;
  background: #171e26;
  border: 1px solid transparent;
}
a.navLink:focus,
a.navLink:hover {
  background: #364559;
  outline: none;
  border: 1px solid #09bbdd;
}
a.navLinkSelected {
  background: #465973;
}
.searchBoxWrapper {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  background: #171e26;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
}
.searchBoxWrapperFocus {
  border: 1px solid #09bbdd;
}
.searchBox {
  background: transparent;
  border: 0;
  color: white;
  font-size: 16px;
  padding: 6px;
  outline: 0;
  width: 100%;
  font-size: 14px;
}
.searchBoxClear {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.dropRightList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dropRightListNested {
  margin-bottom: 12px;
}
.dropRightListItemTitle {
  font-size: 12px;
}

/* detail */
.detail {
  padding: 12px;
  overflow: auto;
}
