.championHeader {
  display: flex;
  justify-content: space-between;
}
.championTraits {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 24px;
  align-items: center;
}
.championTrait {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 4px;
  align-items: center;
}
.championTitle {
  margin: 0;
}
.championsList {
  display: grid;
  grid-template-columns: auto auto;
}
.bestSets {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 24px;
}
.itemSets {
  background: rgba(0, 0, 0, 0.5);
}
.itemSetTitle {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px;
  font-size: 16px;
  margin: 0;
}
.itemSetBody {
  padding: 12px;
}
.itemSetItemsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 12px;
}
.itemSetItem {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px;
  font-size: 12px;
}
.itemSetItemName {
  margin: 0;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 12px;
  align-items: center;
  font-size: 14px;
}
.itemSetItemRecipe {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  grid-column-gap: 12px;
}
