@import "../../../assets/css/vars.scss";

.field {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
.fieldExpanded {
  width: 100%;
}
.fieldLabel {
  margin: 4px 0;
}
.fieldSelect {
  height: 48px;
}
.fieldSelect,
.fieldTextInput,
.json {
  border: 0;
  background: #171e26;
  color: white;
  font-size: 16px;
  padding: 12px;
  font-family: inherit;
}
.json {
  width: 100%;
  height: 300px;
}
.sideBySide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}
.championsSelect {
  display: grid;
  grid-template-columns: repeat(6, max-content);
}
.championButton {
  display: flex;
  border: 0;
  background: none;
  color: white;
  align-items: center;
  margin-bottom: 12px;
  border: 1px solid transparent;
  border-radius: 12px;
  width: 100%;
}
.championButton:hover {
  border: 1px solid $selected-outline-color;
}
.championImage {
  border-radius: 100%;
}
.championName {
  font-size: 12px;
}
.championsInfo {
  display: flex;
}
.championsInfo fieldset > * {
  margin-bottom: 8px;
}
.championItems {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 4px;
}
.itemButton {
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
}
.itemsSelectList {
  display: grid;
  grid-template-columns: repeat(6, max-content);
}
.itemSelectButton {
  border: 0;
  padding: 2px;
  background: none;
}
.buildsListItemActive {
  font-weight: bold;
}
.userBuilds {
  width: 600px;
}
.userBuildsBar {
  margin: 12px 0;
  display: flex;
}
.userBuildsBar button {
  margin-right: 12px;
}
.userBuildsHeading {
  width: 600px;
  margin: 4px 0;
}
.userBuildsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.userBuild {
  display: grid;
  grid-template-columns: auto max-content max-content;
  grid-column-gap: 12px;
  align-items: center;
  margin-bottom: 2px;
}
.userBuildName {
  padding: 0;
  margin: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  color: inherit;
  font: inherit;
  width: 600px;
  height: 100%;
}
.userBuildNameActive {
  background: #3d5066;
}
.button {
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  background: #3d5066;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 12px;
}
