.container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
  width: 100%;
}
.container h2 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 42px;
  color: #cdbe91;
  display: flex;
  align-items: center;
}
.container h3 {
  margin: 14px 0;
  font-size: 26px;
  color: #cdbe91;
}
.container h4 {
  margin: 14px 0;
  font-size: 22px;
}
.championsAside {
  background: #212936;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.championsListContainer {
  height: 100%;
  overflow: auto;
}
.championsSearchBox {
  color: white;
  font-size: 16px;
  padding: 6px;
  border: 1px solid #333;
  background: #171e26;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
}
.championsSearchBox:focus {
  border: 1px solid #09bbdd;
}
.championsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
}
.championIcon {
  margin-right: 12px;
}
.championLink {
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 8px;
  background: #171e26;
}
.championsLinkSelected {
  background: #465973;
}
.championLink:hover {
  background: #364559;
}
.championDetail {
  padding: 12px;
  overflow: auto;
}
.contain {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.setList {
  margin: 0;
  padding: 0;
  display: flex;
}
.setListItem {
  margin-right: 12px;
  list-style-type: none;
}
