html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #141721;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #e3ebee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-accent: #09bbdd;
}

.Scrollable {
  scrollbar-color: rgba(255, 255, 255, 0.2) hsla(255, 0%, 100%, 0.08);
  scrollbar-width: thin;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(255, 0%, 100%, 0.08);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
}

.PageContainer {
  max-width: 1200px;
  margin: auto;
}
.PageContent {
  margin-top: 24px;
  min-height: 100%;
}
.Ell {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: none;
}
.Ell:after {
  content: ".";
  font-size: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
.VisuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
