html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #141721;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #e3ebee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Foreground {
  z-index: 10;
}

.Midground {
  z-index: 5;
}

.Background {
  z-index: 0;
}

button {
  cursor: pointer;
}

.Scrollable {
  scrollbar-color: rgba(255, 255, 255, 0.2) hsla(255, 0%, 100%, 0.08);
  scrollbar-width: thin;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(255, 0%, 100%, 0.08);
}

* {
  box-sizing: border-box;
}

a:link {
  color: #37abc8;
}
a:visited {
  color: #329db8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
}

.PageContainer {
  max-width: 1200px;
  margin: auto;
}
.PageContent {
  margin-top: 24px;
  min-height: 100%;
}
.Ell {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: none;
}
.Ell:after {
  content: ".";
  font-size: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
.VisuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ICONS */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?88k86p");
  src: url("../fonts/icomoon.eot?88k86p#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?88k86p") format("truetype"),
    url("../fonts/icomoon.woff?88k86p") format("woff"),
    url("../fonts/icomoon.svg?88k86p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-h1:before {
  content: "\e900";
}
.icon-h2:before {
  content: "\e901";
}
.icon-download-active:before {
  content: "\e933";
}
.icon-download-all:before {
  content: "\e95e";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-code:before {
  content: "\ea80";
}

.Markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4px 0;
  }
}
