.tooltip {
  padding: 12px;
  width: 200px;
}
.itemDetail {
  padding: 12px;
}
.itemTitle {
  font-size: 14px;
  margin: 0;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 4px;
  align-content: center;
}
.itemSourceList {
  display: flex;
  align-self: flex-end;
}
.itemSource {
  margin-right: 12px;
}
.itemDesc {
  font-size: 12px;
}
