.masterHeader {
  display: flex;
}
.championHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.championTraits {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.championTrait {
  margin-left: 12px;
  align-items: center;
  display: flex;
}
.traitIcon {
  margin-right: 4px;
}
.championTitle {
  margin: 8px 0;
  text-shadow: 2px 2px 0 #000, 0px 0 3px #000;
}
.championsList {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: max-content;
}
a.championsListItemLink {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 4px;
  align-items: center;
}
.itemSet {
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.itemSetTitle {
  background: rgba(50, 0, 0, 0.9);
  padding: 12px;
  font-size: 16px;
  margin: 0;
}
.itemSetBody {
  padding: 12px;
}
.itemSetItemsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
}
.itemSetItem {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px;
  font-size: 12px;
}
.itemSetItemName {
  margin: 0;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 12px;
  align-items: center;
  font-size: 14px;
}
.itemSetItemRecipe {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  grid-column-gap: 12px;
}
.itemSetitemDescription {
  margin: 0;
}
