.header {
  width: 100%;
  padding: 0;
  background: #212936;
  z-index: 50;
  font-family: "Montserrat", sans-serif;
}

/* UH = Universal Header */
.uh {
  font-size: 16px;
  background: #171e26;
}
.uhNav {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 48px;
}
a.uhNavLink {
  color: #a5a9b2;
  text-decoration: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
a.uhNavLinkActive {
  color: #e8decc;
  background-color: #212936 !important;
}
.logoLink {
  display: block;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.uhNavPrimary {
  display: flex;
}
.uhNavSecondary {
  display: flex;
}
.ch {
  display: flex;
}
.gameIcon {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  align-self: center;
}
.tftLogo {
  background: url("../../assets/tft_logo_small.png") no-repeat;
}

/* CH = Contextual Header */
.chNav {
  display: flex;
  font-size: 14px;
}
a.chNavLink {
  color: #cdbe91;
  text-decoration: none;
  padding: 12px 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid transparent;
  animation: border 0.2s ease-in;
}
a.chNavLinkActive {
  color: #e8decc;
  border-bottom: 1px solid #e8decc;
}
a.hidden {
  display: none;
}
