.masterContainer {
  grid-template-columns: 200px auto;
}
.master {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto;
}
.masterList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 2px;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-row-gap: 2px;
}
.combinations {
  background: rgba(0, 0, 0, 0.5);
}
.combinationRow {
  display: grid;
  grid-template-columns: max-content auto;
}
.combinationRow:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}
.combinationHeading {
  background: rgba(0, 0, 0, 0.9);
}
.combination *,
.combinationRecipe * {
  vertical-align: middle;
}
.combination,
.combinationRecipe {
  padding: 12px;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  grid-column-gap: 12px;
}
.itemHeader {
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-bottom: 1px dotted #333;
  padding: 12px;
  display: flex;
}
.itemTitle {
  font-size: 16px;
  margin: 0;
}
.itemDesc {
  margin: 0;
}
.itemDesc:before {
  content: ":";
  margin-right: 8px;
}
.details {
  display: grid;
  grid-template-columns: max-content auto;
}
@media only screen and (max-width: 600px) {
  .masterContainer {
    grid-template-columns: auto;
    grid-template-rows: 70% 30%;
  }
}
