.pill {
  padding: 4px 8px;
  border-radius: 10em;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  margin: 2px;
  vertical-align: middle;
}
.champion {
  margin-right: 4px;
}
.champion::after {
  border-radius: 10em;
}
