.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* master */
.master {
  background: #212936;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.masterHeader {
  display: flex;
  margin-bottom: 8px;
}
.masterHeading {
  font-size: 12px;
  margin: 0;
  padding: 8px 4px;
  text-transform: uppercase;
}
.masterGroup {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.masterList {
  margin: 0;
  padding: 0 8px 0 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 2px;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-row-gap: 2px;
}
.masterItem {
  list-style-type: none;
}
.navLink {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 4px;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 2px;
  padding: 2px;
  font-size: 12px;
  background: #171e26;
  border: 1px solid transparent;
}
.navLink:focus,
.navLink:hover {
  background: #364559;
  outline: none;
  border: 1px solid #09bbdd;
}
.navLinkSelected {
  background: #465973;
}
.searchBoxWrapper {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  background: #171e26;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
}
.searchBoxWrapperFocus {
  border: 1px solid #09bbdd;
}
.searchBox {
  background: transparent;
  border: 0;
  color: white;
  font-size: 16px;
  padding: 6px;
  outline: 0;
  width: 100%;
  font-size: 14px;
}
.searchBoxClear {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.filterBoxButton {
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  font-size: 12px;
  background: lighten($color: #171e26, $amount: 20%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 0 0 0 8px;
}
.filterBoxButton::after {
  display: inline-block;
  margin-left: 4px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropRight {
  background: #171e26;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  padding: 10px;
  transform: translate3d(631px, 119px, 0px);
  border: 3px solid #666;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.dropRight[x-placement] {
  visibility: visible;
}
.dropRightList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dropRightListNested {
  margin-bottom: 12px;
}
.dropRightListItemTitle {
  font-size: 12px;
}

/* detail */
.detail {
  padding: 12px;
  overflow: auto;
}
