/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.trait_icon_assassin {max-width:32px; max-height:32px; }
.trait_icon_assassin::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 0.13736263736263737% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_assassin::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_blademaster {max-width:32px; max-height:32px; }
.trait_icon_blademaster::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 4.670329670329671% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_blademaster::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_brawler {max-width:32px; max-height:32px; }
.trait_icon_brawler::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 9.203296703296703% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_brawler::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_demon {max-width:32px; max-height:32px; }
.trait_icon_demon::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 13.736263736263735% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_demon::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_dragon {max-width:32px; max-height:32px; }
.trait_icon_dragon::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 18.26923076923077% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_dragon::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_elementalist {max-width:32px; max-height:32px; }
.trait_icon_elementalist::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 22.802197802197803% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_elementalist::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_exile {max-width:32px; max-height:32px; }
.trait_icon_exile::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 27.335164835164836% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_exile::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_glacial {max-width:32px; max-height:32px; }
.trait_icon_glacial::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 31.86813186813187% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_glacial::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_guardian {max-width:32px; max-height:32px; }
.trait_icon_guardian::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 36.4010989010989% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_guardian::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_gunslinger {max-width:32px; max-height:32px; }
.trait_icon_gunslinger::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 40.934065934065934% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_gunslinger::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_imperial {max-width:32px; max-height:32px; }
.trait_icon_imperial::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 45.467032967032964% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_imperial::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_knight {max-width:32px; max-height:32px; }
.trait_icon_knight::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 50% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_knight::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_ninja {max-width:32px; max-height:32px; }
.trait_icon_ninja::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 54.532967032967036% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_ninja::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_noble {max-width:32px; max-height:32px; }
.trait_icon_noble::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 59.065934065934066% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_noble::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_phantom {max-width:32px; max-height:32px; }
.trait_icon_phantom::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 63.5989010989011% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_phantom::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_pirate {max-width:32px; max-height:32px; }
.trait_icon_pirate::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 68.13186813186813% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_pirate::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_ranger {max-width:32px; max-height:32px; }
.trait_icon_ranger::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 72.66483516483517% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_ranger::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_robot {max-width:32px; max-height:32px; }
.trait_icon_robot::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 77.1978021978022% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_robot::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_shapeshifter {max-width:32px; max-height:32px; }
.trait_icon_shapeshifter::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 81.73076923076923% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_shapeshifter::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_sorcerer {max-width:32px; max-height:32px; }
.trait_icon_sorcerer::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 86.26373626373626% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_sorcerer::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_void {max-width:32px; max-height:32px; }
.trait_icon_void::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 90.7967032967033% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_void::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_wild {max-width:32px; max-height:32px; }
.trait_icon_wild::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 95.32967032967034% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_wild::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}
.trait_icon_yordle {max-width:32px; max-height:32px; }
.trait_icon_yordle::after {content: '\00a0';display: inline-block; width:32px; height:32px; background-position: 99.86263736263736% 50%;background-size: 2375% 106.25%;background-image: url(traits.png);padding: 0; }
div.trait_icon_yordle::after {max-width:32px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:9b9c50b146ae73a756ee9eac469acda0:9c228361c08465e74b1c8a8e111ac1eb:63b7a98f11056f3557331bf117e3993b$ */
